.textInput{
    background-color: '#fff';
    width: 100%;
    height: 50px;
    border-style: none;
    border-radius: 5px;
    box-shadow: none;
    padding-left: 20px;
    margin-bottom: 20px;
}
input
::file-selector-button {
    display: none;
    width: 110px;
} 
::-webkit-file-upload-button {
    display: none;
    width: 110px;
}
label{
    color: var(--black);
    margin-bottom: 5px;
    font-family: 'Inter';
    font-weight: 700;
}
::placeholder {
    color: var(--gray);
    opacity: 1;
}