@import url("https://fonts.googleapis.com/css2?family=Arvo&family=Inter:wght@400;700&display=swap");
/* Provide sufficient contrast against white background */
:root{
    --white: #FDFDFF;
    --black: #393D3F;
    --deep-green: #167F56;
    --medium-green: #1EAE75;
    --light-green: #79C2A5;
    --superlight-green: #CAE8DC;
    --light-gray: #E1E1E1;
    --gray: #798286;
    --red-button: #971818;
    --grey-text: #6A6A6A;
}

.container {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

/* Container for page-content */
.page-container {
  display: grid;
  grid-template-columns: 20px auto 20px;
  /*We need to fix the rows, 100vh rn is not good!!*/
  grid-template-rows: 20px auto 100vh;
}
/* All content should be place within this class. */
.page-content {
  grid-column: 2;
  grid-row: 2;
}

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

h1{
  font-size: 2rem;
  font-weight: 700;
  font-family: "Inter";
  margin-bottom: 1rem;
}

h2{
  font-Family: Inter;
  font-Weight: 700;
}

h3{
  font-Family: Inter;
  font-Weight: 700;
}

h4{
  font-Family: Inter;
  font-Weight: 700;

}

p{
  font-Family: Inter;
  font-size: 14px;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/*------LOG IN----------------------------------------------------------------*/

#login-page {
  background-image: linear-gradient(to bottom, #f1f9f6, #fbfdfd);
  height: 100vh;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  max-width: 300px;
  padding-top: 10vh;
}

#login-text {
  padding-top: 2vh;
  text-align: center;
  color: black;
}

#sign-up-text {
  text-align: center;
  font-size: 1.15rem;
  padding-top: 7vh;
}

.google-button {
  display: flex;
  justify-content: center;
  padding-top: 1vh;
}

#login-or {
  display: flex;
  flex-direction: column;
}


/*------EVENT CARD----------------------------------------------------------------*/

.event-card {
  width: 100%;
  height: 30vw;
  max-height: 200px;
  background-color: lightpink;
}
