/* Provide sufficient contrast against white background */

.container{
  padding: 0;
  margin:0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

#login-page {
  background-image: linear-gradient(to bottom, #f1f9f6 , #fbfdfd ); 
  height:100vh;
}

#logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  max-width: 300px;
  padding-top: 10vh;
}

#login-text{
  padding-top: 2vh;
  text-align: center;
  color: black;
}