@import url("https://fonts.googleapis.com/css2?family=Arvo&family=Inter:wght@400;700&display=swap");
/* Provide sufficient contrast against white background */
:root{
    --white: #FDFDFF;
    --black: #393D3F;
    --deep-green: #167F56;
    --medium-green: #1EAE75;
    --light-green: #79C2A5;
    --superlight-green: #CAE8DC;
    --light-gray: #E1E1E1;
    --gray: #798286;
    --red-button: #971818;
    --grey-text: #6A6A6A;
}
/*------ LAYOUT ----------------------------------------------------------------*/

.container {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

/* Container for page-content */
.page-container {
  display: grid;
  grid-template-columns: 20px auto 20px;
  grid-template-rows: 20px auto 20px;
}
/* All content should be placed within this class. */
.page-content {
  grid-column: 2;
  grid-row: 2;
}

/*------ FONTS ----------------------------------------------------------------*/

a {
  color: #0366d6;
}
p{
  font-family: 'Inter';
  font-size: 1rem;
}

.gray-body-text{
  font-family: 'Inter';
  font-size: 1rem;
  color: var(--grey-text);
}

.clickable-text{
  color: var(--deep-green);
  font-weight: 700;
  cursor: pointer;
}

code {
  color: #e01a76;
}

h1{
  font-size: 2rem;
  font-weight: 700;
  font-family: "Inter";
  margin-bottom: 1rem;
}

h2{
  font-Family: "Inter";
  font-weight: 600;
  font-size: 1.25rem;
}

h3{
  font-Family: Inter;
  color: var(--black);
  font-Weight: 700;
  font-size: 1rem;
}

h4{
  font-Family: Inter;
  font-Weight: 700;

}

.err-text{
  color: var(--red-button)
}
.success-text{
  color: var(--deep-green)
}
.muted-text{
  color: var(--gray)
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/*------LOG IN----------------------------------------------------------------*/

#login-page {
  background-image: linear-gradient(to bottom, #f1f9f6, #fbfdfd);
  height: 100vh;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  max-width: 300px;
  padding-top: 10vh;
}

#login-text {
  padding-top: 2vh;
  text-align: center;
  color: black;
}

#sign-up-text {
  text-align: center;
  font-size: 1.15rem;
  padding-top: 7vh;
}

.google-button {
  display: flex;
  justify-content: center;
  padding-top: 1vh;
}

#login-or {
  display: flex;
  flex-direction: column;
}


/*------EVENT CARD----------------------------------------------------------------*/

.event-card {
  margin-bottom: 2rem;
  width: 100%;
  height: 33vw;
  max-height: 130px;
}

#clock-icon, #location-icon {
  width: 1.2rem;  
}

#warning-icon {
  margin-left: 10px;
}

#event-image {
  display: flex;
  float: right;
  height: 100%;
  width: 110px;
  object-fit: cover;
  border-radius: 10px;
}

.event-information-block{
  padding: 0 7px 3px 0;
}

.event-card-attendees{
  margin-top:.5rem;
  display: flex;
  width: 60%;
  max-width: 13rem;
  align-items: center;
}

.event-card-host-image{
  height: 2.5rem;
  border-radius: 100%;
}

.event-card-attendees-images-1{
  height: 2rem;
  border-radius: 100%;
  z-index: 1;
  transform: translateX(50%);
}

.event-card-attendees-images-2{
  height: 2rem;
  border-radius: 100%;
  z-index: 2;
  transform: translateX(0);
}

.event-card-attendees-images-3{
  height: 2rem;
  border-radius: 100%;
  z-index: 3;
  transform: translateX(-50%);
}

.event-card-more-text{
  font-family: 'Inter';
  font-size: 1rem;
  color: var(--grey-text);
  justify-content: end;
}

#header-search {
  background-color: var(--superlight-green);
  width: 100%;
  padding: 15px 0px 15px 50px;
  border-style: none;
  border-radius: 10px;
}

.search-icon{
  position: absolute;
  padding:14px 0px 0px 15px;
}

/*------ PWA ----------------------------------------------------------------*/
@media all and (display-mode: standalone) {
  .notch-bg{
    background-color: var(--deep-green);
    width: 100%;
    height: 50px;
    position: fixed;
  }
}
@media only screen and (min-width: 600px) {
  .APP-CONTAINER{
    margin: 0 auto;
    width: 500px;
  }
  body{
    background-image: linear-gradient(to bottom, #f1f9f6, #fbfdfd);
  }
}

/*------ ANIMATIONS ----------------------------------------------------------------*/

.loading{
  animation: spin 1s infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
